:root {
    scroll-behavior: smooth;
    --theme-color: #0d0f80;
    --theme-color-light: #fff;
    --theme-color-transparent: #1a3ba791;
    --theme-color-transparent2: #6abff091;

    --color-text-light: #018BFF;
    --color-text-ultralight: #37d7ff;
    --color-text-dark: #3d3c4e;

    --box-shadow: #21242c80;

    --text-type: 'Great Vibes', cursive;
    --text-type2: 'Roboto Serif', sans-serif;



    --letter-color-1: #3b0099;
    --letter-color-2: #2f00ff;
    --letter-color-3: #1619be;
    --letter-color-4: #00aeff;
    --letter-color-5: #00ffff;
    --letter-color-6: #00ffbf;
}




.body {
    font-family: var(--text-type2);
}


/* ESTILOS HEADER*/
.header {
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 0.25rem 0.25rem 0 var(--box-shadow);
    background-color: var(--theme-color-light);

}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1024px;
    height: 4rem;
    padding: 0 2rem;
    margin: auto;
}

.header-nav__link-logo-container {
    height: 3rem;
}

.header-nav__link-logo {
    height: 100%;
    border-radius: 50%;
}

.header-nav__menu-icon {
    font-size: 2rem;
    color: var(--color-text-ultralight);
    cursor: pointer;
    transition: all 0.5s;
}

.header-nav__menu-icon:hover {
    font-size: 2.5rem;
    filter: brightness(250%);
}

.header-nav__menu-checkbox {
    display: none;
}

.header-nav__menu-checkbox:checked+.header-nav__link-list {
    left: 0;
}

.header-nav__link-list {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 4rem;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: var(--theme-color);
    gap: 2.5rem;
    margin: 0;
    padding: 0;
    transition: all 0.5s;
}


.header-nav__link-item {
    list-style: none;
}

.header-nav__link {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--theme-color-light);
    transition: all 0.25s;
}

.header-nav__link:hover {
    color: var(--color-text-ultralight);
}
























/*ESTILOS MAIN-PRESENTACION*/


/* presentacion */

.main__presentation-background {
    background-size: cover;
    background-image: url("/img/portada.jpg");
}

.main__presentation-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(0, auto);
    gap: 1rem;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: var(--theme-color-transparent);

}

.main__presentation-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    align-items: center;
}

.main__presentation-title,
.main__presentation-description {
    margin: 0;
}

.main__presentation-title {
    color: var(--color-text-ultralight);
    font-size: 1.75rem;
}

.main__presentation-description {
    color: var(--theme-color-light);
    font-size: 1rem;
}

.main__presentation-img-container {
    width: 15rem;
}

.main__presentation-img {
    width: 100%;
}

.main__presentation-contacto-link {
    background-color: var(--theme-color);
    border: 0.1rem solid var(--theme-color);
    padding: .75rem 2rem;
    border-radius: 0.75rem;
    text-decoration: none;
    color: var(--color-text-ultralight);
    transition: all 0.5s;
}

.main__presentation-contacto-link:hover {
    border: 0.1rem solid var(--color-text-light);
    background-color: var(--color-text-light);
}







/* servicios */

.main__services-items {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    gap: 2rem;
    padding: 0 3rem;
    list-style: none;
    text-align: center;

}

.main__services-item {
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: 0 0 0 0.15rem var(--color-text-dark), 0 0 0 0.25rem var(--color-text-dark);
}

.main__services-item:hover {
    box-shadow: 0 0 0 0.25rem var(--color-text-light), 0 0 0 0.5rem var(--color-text-ultralight);
}

.--icon {
    font-size: 2.5rem;
    color: var(--color-text-light);
}

.main__services-subtitle {
    font-size: 2.25rem;
    font-family: var(--text-type);
}

.main__services-description {
    font-size: 1rem;
    font-weight: 300;
}






/* catalogo */


.main__catalogue-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    padding: 3rem;
    animation: 5seg;
}

.--imgphoto {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

.main__catalogue-photography11 {
    grid-column: -3/-1;
}

.main__catalogue-container>div :hover {
    transform: scale(1, 1.1);
    box-shadow: 0 0 0.5rem var(--color-text-light) ;
}

.--secundaryphotos {
    display: none;
}


